<div class="container">
    <div *ngIf="!roomId">
        <div class="room-options">
            <button class="btn btn-primary btn-lg mb-3" id="newCallButton" (click)="mCreateNewCall()">
                Create New Call
            </button>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter Call Id" [(ngModel)]="joinRoomId">
                <button class="btn btn-success" type="button" (click)="startLocalVideo(); joinRoom(joinRoomId)">
                    Join Call
                </button>
            </div>
        </div>
    </div>

    <div *ngIf="roomId">
        <div class="d-flex flex-column">
            <div class="parent-div">
                <div class="background-div bg-dark">
                    <video #remoteVideo autoplay playsinline [volume]="mIsRemoteUserMuted ? 0 : 1"></video>
                    <button class="mic-button" *ngIf="mIsRemoteUserMuted">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-mic-mute" viewBox="0 0 16 16">
                            <path d="M9.486 10.607l-.748-.748A2 2 0 0 1 6 8v-1.878l-1-1V8a3 3 0 0 0 4.486 2.607"></path>
                            <path d="m1.086 1.27 12 12-.708.708-12-12z"></path>
                        </svg>
                    </button>
                </div>
                <div class="overlay-div">
                    <video #localVideo autoplay playsinline></video>
                </div>
            </div>

            <div class="controls">
                <button (click)="toggleMute()" class="btn btn-outline-primary">
                    <span *ngIf="isMuted; else unmuteIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-mic-mute" viewBox="0 0 16 16">
                            <path d="M13 8c0 .564-.094 1.107-.266 1.613l-.814-.814A4 4 0 0 0 12 8V7a.5.5 0 0 1 1 0z"></path>
                            <path d="m1.086 1.27 12 12-.708.708-12-12z"></path>
                        </svg>
                    </span>
                    <ng-template #unmuteIcon>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-mic" viewBox="0 0 16 16">
                            <path d="M8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z"></path>
                        </svg>
                    </ng-template>
                </button>

                <button (click)="toggleVideo()" class="btn btn-outline-primary">
                    <span *ngIf="isVideoEnabled; else videoOffIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-camera-video" viewBox="0 0 16 16">
                            <path d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462"></path>
                        </svg>
                    </span>
                    <ng-template #videoOffIcon>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-camera-video-off" viewBox="0 0 16 16">
                            <path d="M1.428 4.18A1 1 0 0 0 1 5v6a1 1 0 0 0 1 1h5.014"></path>
                        </svg>
                    </ng-template>
                </button>
            </div>

            <div class="chat">
                <h3>Chat</h3>
                <input type="text" placeholder="Type a message" [(ngModel)]="chatMessage"
                    (keyup.enter)="sendMessage()" />
                <button (click)="sendMessage()" class="btn btn-outline-primary">Send</button>
                <div class="messages">
                    <p *ngFor="let msg of chatMessages">{{ msg }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
